.git
.github
./build
./dist
.pytest_cache
__pycache__
instance
node_modules
screenshots
.git
.vscode
env
.dockerignore
.editorconfig
.flake8
.gitignore
.hadolint.yaml
.markdownlint.yaml
Dockerfile
sonar-project.properties
build
dist
env
seedboxsync.egg-info