# Include docs
include *.md
include LICENSE

# Include ini example
include seedboxsync.ini.dist

# Exclude doc
prune docs*

# Exclude QA / GitHub, etc.
prune *.rb
prune *.yml
prune .editorconfig
prune seedboxsync.py
prune tox.ini