{% from 'components/macros_form.html' import form_error, render_field %}

{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
<div class="columns">
  {% include 'components/menu_settings.html' %}

  <div class="column">
    <div class="content">
      <h2 class="title">{% block title %}{{ _('Settings') }} / {{ _('Authentication') }}{% endblock %}</h2>

      <form method="post" x-data="validators.form()">
        {{ form.csrf_token }}
        {{ form_error(form) }}

        <div class="box">

          <p class="is-italic">{{ _('If authentication is disabled, do not expose the application directly, delegate authentication to a reverse proxy instead.') }}</p>

          <div class="columns pt-4">
            <div class="column is-6">
              <div class="field" x-data="{
                  login_disabled: '{{ form.login_disabled.data }}',
                  enabled: {{ 'true' if form.login_disabled.data else 'false' }},
              }">
                {{ render_field(form.login_disabled) }}
              </div>
            </div>

          </div>
        </div>

        <div class="control has-text-right">
          <button class="button is-success">
            <span class="icon is-small"><i class="fas fa-floppy-disk "></i></span> <span>{{ _('Save') }}</span>
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
