{% from 'components/macros_form.html' import form_error, form_toast, render_field %}

{% extends 'base.html' %}

{% block header %}{% endblock %}

{% block content %}
<div class="columns">
  {% include 'components/menu_settings.html' %}

  <div class="column">
    <div class="content">
      <h2 class="title">{% block title %}{{ _('Healthchecks') }}{% endblock %}</h2>

      <form method="post">
        {{ form.csrf_token }}

        {{ form_error(form) }}

        <div class="box">
          <p class="is-italic">{{ _('Settings Healthchecks service.') }}</p>

          <div class="columns pt-4" x-data="{
              healthchecks_sync_blackhole_enabled: '{{ form.healthchecks_sync_blackhole_enabled.data }}',
              enabled: {{ 'true' if form.healthchecks_sync_blackhole_enabled.data else 'false' }},
              healthchecks_sync_blackhole_ping_url: '{{ form.healthchecks_sync_blackhole_ping_url.data }}',
              isValid() { return isValidUrl(this.healthchecks_sync_blackhole_ping_url.data, this.enabled) }
            }">
            <div class="column is-6">
              <div class="field">
                {{ render_field(form.healthchecks_sync_blackhole_enabled) }}
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                {{ render_field(form.healthchecks_sync_blackhole_ping_url) }}
              </div>
            </div>
          </div>

          <div class="columns pt-4" x-data="{
            healthchecks_sync_seedbox_enabled: '{{ form.healthchecks_sync_seedbox_enabled.data }}',
            enabled: {{ 'true' if form.healthchecks_sync_seedbox_enabled.data else 'false' }},
            healthchecks_sync_seedbox_ping_url: '{{ form.healthchecks_sync_seedbox_ping_url.data }}',
            isValid() { return isValidUrl(this.healthchecks_sync_seedbox_ping_url.data, this.enabled) }
          }">
            <div class="column is-6">
              <div class="field">
                {{ render_field(form.healthchecks_sync_blackhole_enabled) }}
              </div>
            </div>

            <div class="column is-6">
              <div class="field">
                {{ render_field(form.healthchecks_sync_seedbox_ping_url) }}
              </div>
            </div>
          </div>
        </div>

        <div class="control has-text-right">
          <button class="button is-primary">{{ _('Save') }}</button>
        </div>

      </form>
    </div>
  </div>
</div>

{{ form_toast(saved) }}

{% endblock %}
