{% from 'components/macros_form.html' import form_error, render_field %}
{% import 'components/macros.html' as macro %}

{% set breadcrumb_items = [
  (_('Settings'), url_for('settings.info')),
  (_('Synchronization'), False),
  (_('Ping'), False),
] %}

{% extends 'base.html' %}

{% block title %}
  {{ breadcrumb_items | map(attribute=0) | join(' / ') }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="row">
  {% include 'components/menu_settings.html' %}

  <div class="col-md-10">
    {{ macro.breadcrumb(breadcrumb_items) }}

    <form method="post" x-data="validators.form()">
        {{ form.csrf_token }}
        {{ form_error(form) }}

      <div class="card bg-body-tertiary shadow">
        <div class="card-body">
          <p class="fst-italic">{{ _('Settings Healthchecks service.') }}</p>

          <div class="row" x-data="{
              healthchecks_sync_blackhole_enabled: '{{ form.healthchecks_sync_blackhole_enabled.data }}',
              enabled: {{ 'true' if form.healthchecks_sync_blackhole_enabled.data else 'false' }},
              healthchecks_sync_blackhole_ping_url: '{{ form.healthchecks_sync_blackhole_ping_url.data }}',
              touched: false,
              isValid() { return validators.isValidUrl(this.touched, this.healthchecks_sync_blackhole_ping_url.data, this.enabled) }
            }">
            <div class="col-md-6 mb-3">
              <div class="field">
                {{ render_field(form.healthchecks_sync_blackhole_enabled) }}
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="field">
                {{ render_field(form.healthchecks_sync_blackhole_ping_url) }}
              </div>
            </div>
          </div>

          <div class="row " x-data="{
            healthchecks_sync_seedbox_enabled: '{{ form.healthchecks_sync_seedbox_enabled.data }}',
            enabled: {{ 'true' if form.healthchecks_sync_seedbox_enabled.data else 'false' }},
            healthchecks_sync_seedbox_ping_url: '{{ form.healthchecks_sync_seedbox_ping_url.data }}',
            touched: false,
            isValid() { return validators.isValidUrl(this.touched, this.healthchecks_sync_seedbox_ping_url.data, this.enabled) }
          }">
            <div class="col-md-6 mb-3">
              <div class="field">
                {{ render_field(form.healthchecks_sync_blackhole_enabled) }}
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <div class="field">
                {{ render_field(form.healthchecks_sync_seedbox_ping_url) }}
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 text-end">
        <button class="btn btn-success" :disabled="!canSubmit()">
          <i class="fas fa-floppy-disk "></i> {{ _('Save') }}
        </button>
      </div>

    </form>
  </div>
</div>

{% endblock %}
