{% from 'components/macros_form.html' import form_error, render_field %}
{% import 'components/macros.html' as macro %}

{% set breadcrumb_items = [
  (_('Settings'), url_for('settings.info')),
  (_('Authentication'), False),
  (_('Users list'), False),
] %}

{% extends 'base.html' %}

{% block title %}
  {{ breadcrumb_items | map(attribute=0) | join(' / ') }}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="row">
  {% include 'components/menu_settings.html' %}

  <div class="col-md-10">
    {{ macro.breadcrumb(breadcrumb_items) }}

    <div class="card bg-body-tertiary shadow">
      <div class="card-body">
        {# Table #}
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>{{ _('Username') }}</th>
              <th class="d-none d-md-table-cell">{{ _('Email') }}</th>
              <th>{{ _('Origin') }}</th>
              <th class="d-none d-md-table-cell">{{ _('Created') }}</th>
              <th>{{ _('Last login') }}</th>
              <th class="narrow"></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              {% set can_delete = user.id != current_user.id %}
              <tr>
                <td>{{ user.username }}</td>
                <td class="d-none d-md-table-cell">{{ user.email }}</td>
                <td>{{ user.origin }}</td>
                <td class="d-none d-md-table-cell">{{ format_datetime(user.created) }}</td>
                <td>{{ format_datetime(user.last_login) if user.last_login is not none else _('Never') }}</td>
                <td class="text-end">
                    <div class="d-flex justify-content-end gap-2 flex-nowrap">
                      <a class="btn btn-sm btn-outline-info" href="{{ url_for('settings.users_edit', user_id=user.id) }}" title="{{ _('Edit') }}">
                        <i class="fas fa-pen-to-square"></i>
                      </a>
                      <a class="btn btn-sm btn-outline-danger" {% if not can_delete %}disabled aria-disabled="true"{% endif %} title="{{ _('Delete') }}"
                        {% if can_delete %}href="{{ url_for('settings.users_delete', user_id=user.id) }}"{% endif %}>
                        <i class="fas fa-times"></i>
                      </a>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="mt-4 text-end">
      <a class="btn btn-outline-info" href="{{ url_for('settings.users_create') }}">
        <i class="fas fa-add"></i> {{ _('Add') }}
      </a>
    </div>

  </div>
</div>

{% endblock %}
