@use "nord/src/sass/nord" as nord;
@use "sass:color";

.card {
  --bs-card-cap-bg: #{color.adjust(nord.$nord4, $lightness: 5%)};
  --bs-card-cap-color: #{color.adjust(nord.$nord3, $lightness: -10%)};
}

.table thead {
  --bs-table-accent-bg: #{color.adjust(nord.$nord4, $lightness: 5%)};

}
.main-footer {
  background-color: #{nord.$nord0};
  color: #{nord.$nord6};
}