@use "nord/src/sass/nord" as nord;
@use "./theme-dark.scss" as dark;
@use "./theme-light.scss" as light;

@use "bulma/sass" with (
  // Color
  $orange: nord.$nord12,
  $yellow: nord.$nord13,
  $green: nord.$nord14,
  $turquoise: nord.$nord8,
  $cyan: nord.$nord9,
  $blue: nord.$nord10,
  $purple: nord.$nord15,
  $red: nord.$nord11,

  $footer-padding: 3rem 1.5rem 3rem,
);

// Color scheme
@media (prefers-color-scheme: light) {
  :root:not([data-theme]) {
    @include light.theme-light;
  }
}
:root[data-theme="light"] {
  @include light.theme-light;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    @include dark.theme-dark;
  }
}
:root[data-theme="dark"] {
  @include dark.theme-dark;
}

// Others CSS
.is-overflow-anywhere {
  overflow-wrap: anywhere;
}
