@use "nord/src/sass/nord" as nord;
@use "sass:color";

@use "bulma/sass" with (
  // Color
  $orange: nord.$nord12,
  $yellow: nord.$nord13,
  $green: nord.$nord14,
  $turquoise: nord.$nord8,
  $cyan: nord.$nord9,
  $blue: nord.$nord10,
  $purple: nord.$nord15,
  $red: nord.$nord11,

  $footer-padding: 3rem 1.5rem 3rem,
);

@media (prefers-color-scheme: light) {
  :root {
    // base colors
    --bulma-black: #{nord.$nord0};
    --bulma-black-bis: #{nord.$nord1};
    --bulma-black-ter: #{nord.$nord2};

    --bulma-grey-darker: #{color.adjust(nord.$nord3, $lightness: -5%)};
    --bulma-grey-dark: #{nord.$nord3};
    --bulma-grey: #{color.adjust(nord.$nord3, $lightness: 25%)};
    --bulma-grey-light: #{color.adjust(nord.$nord3, $lightness: 35%)};
    --bulma-grey-lighter: #{color.adjust(nord.$nord3, $lightness: 48%)};

    --bulma-white-ter: #{nord.$nord6};
    --bulma-white-bis: #{color.adjust(nord.$nord6, $lightness: 2%)};
    --bulma-body-background-color: #{color.adjust(nord.$nord6, $lightness: -10%)};

    // invert
    --bulma-yellow-invert: rgba(hsl(221, 14%, 4%)k, 0.7);
    --bulma-primary-invert: rgba(hsl(221, 14%, 4%), 0.7);
  }
  .table {
    --bulma-table-head-background-color: #{color.adjust(nord.$nord4, $lightness: 5%)};
  }
  .navbar {
    --bulma-navbar-background-color: #{nord.$nord1};
    .navbar-menu .navbar-item.is-active {
      background-color: #{nord.$nord3};
    }
  }
  .footer {
    --bulma-footer-background-color: #{nord.$nord4};
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    // base colors
    --bulma-black: #{nord.$nord4};
    --bulma-black-bis: #{color.adjust(nord.$nord4, $lightness: -10%)};
    --bulma-black-ter: #{color.adjust(nord.$nord4, $lightness: -20%)};

    --bulma-white-ter: #{nord.$nord2};
    --bulma-white-bis: #{color.adjust(nord.$nord1, $lightness: 2%)};
    --bulma-white: #{nord.$nord0};
    --bulma-body-background-color: #{color.adjust(nord.$nord0, $lightness: -10%)};

    --bulma-grey-darker: #{nord.$nord4};
    --bulma-grey-dark: #{color.mix(nord.$nord4, nord.$nord5)};
    --bulma-grey: #{nord.$nord5};
    --bulma-grey-light: #{color.mix(nord.$nord5, nord.$nord6)};
    --bulma-grey-lighter: #{nord.$nord6};

    // invert
    --bulma-yellow-invert: #{rgba(hsl(221, 14%, 100%), 0.7)};
    --bulma-primary-invert: #{rgba(hsl(221, 14%, 100%), 0.7)};
  }
  .table {
    --bulma-table-head-background-color: #{color.adjust(nord.$nord0, $lightness: 5%)};
  }
  .navbar {
    --bulma-navbar-background-color: #{nord.$nord1};
    .navbar-menu .navbar-item.is-active {
      background-color: #{nord.$nord3};
    }
  }
  .footer {
    --bulma-footer-background-color: #{nord.$nord0};
  }

}

.is-overflow-anywhere {
  overflow-wrap: anywhere;
}
