### SeedboxSync Configuration Settings
---

#
# Information about your seedbox
#
seedbox:

  ### Connection information
  # host: my-seedbox.ltd
  # port: 22
  # login: me
  # password: p4sw0rd
  # timeout: false

  ### Only 'sftp' is supported for now
  # protocol: sftp

  ### Chmod torrent after upload (set to false to disable)
  ### Use octal notation, e.g. 0o644
  # chmod: false

  ### Use a temporary directory for incomplete transfers (must be created manually)
  # tmp_path: /tmp

  ### Your BitTorrent client's "watch" folder (must be created manually)
  watch_path: /watch

  ### The folder where your BitTorrent client puts finished files
  # finished_path: /files

  ### Remove a prefix from the synced path (usually the same as "finished_path")
  prefixed_path: /files

  ### Exclude files with this suffix (e.g. incomplete downloads)
  # part_suffix: .part

  ### Exclude files from sync using a regular expression (Python re syntax)
  ### Example: .*missing$|^\..*\.sw
  # exclude_syncing: .*missing$|^\..*\.sw


#
# Information about the local environment (NAS, etc.)
#
local:

  ### Your local "watch" folder
  # watch_path: ~/watch

  ### Path where files are downloaded
  # download_path: ~/Downloads/

  ### Path to the local SQLite database for tracking downloaded files
  # db_file: ~/.config/seedboxsync/seedboxsync.db


#
# PID and lock management to prevent multiple instances
#
pid:

  ### PID file for blackhole sync
  # blackhole_path: ~/.config/seedboxsync/lock/blackhole.pid

  ### PID file for seedbox download sync
  # download_path: ~/.config/seedboxsync/lock/download.pid


#
# Healthchecks ping service
#
healthchecks:

  ### Sync seedbox part
  sync_seedbox:
    ### Enable or disable the service
    # enabled: true

    # Ping URL
    # ping_url: https://hc-ping.com/ca5e1159-9acf-410c-9202-f76a7bb856e0

  ### Sync blackhole part
  sync_blackhole:
    ## Enable or disable the service
    # enabled: true

    ## Ping URL
    # ping_url: https://hc-ping.com/ca5e1159-9acf-410c-9202-f76a7bb856e0


#
# SeedboxSync tuning
#
seedboxsync:

  ### Toggle application level debug (does not toggle framework debugging)
  # debug: false

  ### Where external (third-party) plugins are loaded from
  # plugin_dir: /var/lib/seedboxsync/plugins/

  ### Where all plugin configurations are loaded from
  # plugin_config_dir: /etc/seedboxsync/plugins.d/

  ### The log handler label
  # log_handler: colorlog


log.colorlog:

  ### Where the log file lives (no log file by default)
  # file: null

  ### The level for which to log.  One of: info, warning, error, fatal, debug
  # level: info

  ### Whether or not to log to console
  # to_console: true

  ### Whether or not to rotate the log file when it reaches `max_bytes`
  # rotate: false

  ### Max size in bytes that a log file can grow until it is rotated.
  # max_bytes: 512000

  ### The maximum number of log files to maintain when rotating
  # max_files: 4