<footer class="py-4 main-footer">
  <div class="container">
    <div class="row align-items-center">
      <p class="col-md text-center text-md-start mb-3 mb-md-0">
        {{ _('%(seedboxsync)s v%(version)s by %(author)s under %(license)s',
            version=version,
            seedboxsync='<strong ><a href="https://llaumgui.github.io/seedboxsync/">SeedboxSync</a></strong>' | safe,
            author='<a href="https://blog.kulakowski.fr">Guillaume Kulakowski</a>' | safe,
            license='<a href="https://opensource.org/license/gpl-3-0">GPL-v3</a>'| safe ) }}
      </p>
      <p class="col-md text-center text-md-end mb-0">
        <a href="{{ url_for('api.doc') }}">{{ _('SeedboxSync API v%(api_version)s', api_version=api_version) }}</a>
      </p>
    </div>
  </div>
</footer>