<script>
window.Translations={in_progress_since:{{- _('In progress since') | tojson -}},completed_since:{{- _('Completed since') | tojson -}},never_launched:{{- _('Never launched') | tojson -}},error_loading_lock_status:{{- _('Error loading task status') | tojson -}},task_scheduled:{{- _('Task scheduled') | tojson -}},task_not_scheduled:{{- _('Error in task scheduling') | tojson -}},files:{{- _('Files') | tojson -}},size:{{- _('Size') | tojson -}},sizeGib:{{- _('Size (GiB)') | tojson -}}};
const dateTimeOption={weekday:"short",year:"numeric",month:"short",day:"2-digit",hour:"2-digit",minute:"2-digit",second:"2-digit"};
window.DoughnutLegend={position:{{- doughnut_legend_position | tojson -}},display:{{- doughnut_legend_display | tojson -}},limit:{{- doughnut_legend_limit | tojson -}}};
</script>
<script type="module" src="{{ url_for('static', filename='dist/main.js') }}" defer></script>
{% block extended_javascript %}{% endblock %}