{% macro form_error(form) %}
  {% if form.errors %}
    <div class="alert alert-danger">
      <ul>
        {% for field, error_list in form.errors.items() %}
          {% for error in error_list %}
            <li><strong>{{ form[field].label }}:</strong> {{ error }}</li>
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro render_field(field) %}
  {% if field.type == 'EmailField'  or
        field.type == 'IntegerField'  or
        field.type == 'PasswordField' or
        field.type == 'StringField' or
        field.type == 'URLField' %}
    {{ render_field_text(field) }}
  {% elif field.type == 'BooleanField' %}
    {{ render_field_checkbox(field) }}
  {% elif field.type == 'SelectField' %}
    {{ render_field_select(field) }}
  {% else %}
   {{ field.type }}
  {% endif %}
{% endmacro %}


{% macro render_field_text(field) %}
<label class="label" for="{{ field.id }}">
  {{ field.label }}
  {% if field.render_kw['help'] %}
    <a href="#" class="text-body-info ms-1" @click.prevent
       data-bs-toggle="tooltip"
       data-bs-title="{{ field.render_kw['help'] }}"
       aria-label="{{ field.render_kw['help'] }}">
      <i class="fas fa-circle-info"></i>
    </a>
  {% endif %}
</label>
<div class="input-group">
  <span class="input-group-text">
    <i class="fas {{ field.render_kw['icon'] }}"></i>
  </span>
  <input type="{{ field.widget.input_type }}" class="form-control"
         id="{{ field.id }}" name="{{ field.name }}"
         placeholder="{{ field.render_kw['placeholder'] }}"
         @click="touched = true"
         x-model="{{ field.id }}"
         x-effect="setFieldState('{{ field.id }}', isValid(), touched)"
         x-bind:class="isValid() ? 'is-valid' : 'is-invalid'"/>
</div>
{% endmacro %}

{% macro render_field_checkbox(field) %}
<div class="form-check">
  <input class="form-check-input" type="{{ field.widget.input_type }}"
         id="{{ field.id }}" name="{{ field.name }}"
         value="1"
         @click="touched = true"
         x-model="enabled"
         x-effect="setFieldState('{{ field.id }}', true, touched)" />
  <label class="form-check-label" for="{{ field.id }}">{{ field.label }}</label>
</div>
{% endmacro %}

{% macro render_field_select(field) %}
  <label class="form-label" for="{{ field.id }}">{{ field.label }}</label>
  <div class="control select">
    <select id="{{ field.id }}" name="{{ field.name }}" class="form-select"
            @click="touched = true"
            x-model="{{ field.id }}"
            x-effect="setFieldState('{{ field.id }}', true, touched)">
      {% for value, label in field.choices %}
        <option value="{{ value }}">{{ label }}</option>
      {% endfor %}
    </select>
  </div>
  <input type="hidden" name="{{ field.name }}" :value="{{ field.id }}">
{% endmacro %}