<div id="ModalConfirmCallComponent"
     x-data="ModalConfirmCallComponent()"
     x-init="$el.__modal = $data">
  <div x-ref="modal"
       class="modal fade" id="ModalConfirmCall" tabindex="-1"
       aria-labelledby="ModalConfirmCallTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="ModalConfirmCallTitle"
              class="modal-title"
              x-text="title"></h5>
          <button type="button" class="btn-close"
                  aria-label="{{ _('Close') }}"
                  @click="close()"></button>
        </div>

        <div class="modal-body">
          <div x-html="content"></div>
          <template x-if="loading">
            <p><div class="spinner-border spinner-border-sm"></div> { _('Loading...') }}</p>
          </template>

          <template x-if="error">
            <p class="text-danger">{{ _('An error has occurred.') }}</p>
          </template>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success"
                  @click="confirm()" :disabled="loading">
            {{ _('OK') }}
          </button>

          <button type="button" class="btn btn-dark"
                  @click="close()">
            {{ _('Cancel') }}
          </button>
        </div>

      </div>
    </div>
  </div>
</div>